@font-face {
  font-family: 'JqkasWild';
  src: url('./assets/JqkasWild-w1YD6.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(./assets/table.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'JqkasWild';
}

.card {
  height: 570px;
  width: 400px;
  background-color: #f8f8f8;
  border-radius: 18px;
  box-shadow: 2px 2px 25px rgb(33, 33, 33);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .spade {
  
} */

/* .heart {
}

.club {
}

.diamond {
} */
